@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Linotype Didot;
  src: url("../public/Linotype-Didot/DidotLTPro-Bold.ttf") format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text-light: #000000;
  --color-bg-light: #ffffff;
  --color-border-light: #cccccc;

  --color-text-dark: #ffffff;
  --color-bg-dark: #333333;
  --color-border-dark: #444444;
}

.dark {
  --color-text: var(--color-text-dark);
  --color-bg: var(--color-bg-dark);
  --color-border: var(--color-border-dark);
}

.light {
  --color-text: var(--color-text-light);
  --color-bg: var(--color-bg-light);
  --color-border: var(--color-border-light);
}


* {
  scroll-behavior: smooth;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: 'Encode Sans Semi Condensed';
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Banner Legit Check Animations */

/* Big Title Animation 1 */
@keyframes slideInFromLeft {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  /* 50% {
    transform: translateX(0%);
  } */

  100% {
    opacity: 1;
    transform: translateX(120%);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }

  /* 50% {
    transform: translateX(0%);
  } */

  100% {
    opacity: 1;
    transform: translateX(-120%);
  }
}

/* Big Title Animation 2 */
@keyframes slideInFromLeftEnd {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInFromRightEnd {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Total Legit Check Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}